# Infografis Penduduk Miskin Indonesia

---
---
## **IMPORT LIBRARIES**
---
---

In [1]:
import pandas as pd
import numpy as np

---
---
## **DATA WRANGLING**
---
---

### **DATA GATHERING**

In [2]:
pendudukraw_df = pd.read_csv("data\\Jumlah Penduduk Menurut Provinsi di Indonesia.csv", delimiter=",")
pendudukraw_df.head()

         Provinsi     2020     2021     2022
0            Aceh   5274.9   5333.7   5407.9
1  Sumatera Utara  14799.4  14936.2  15115.2
2  Sumatera Barat   5534.5   5580.2   5640.6
3            Riau   6394.1   6493.6   6614.4
4       Kep. Riau   2064.6   2118.2   2179.8

In [3]:
rawmiskin1_df = pd.read_csv("data\\Jumlah Penduduk Miskin menurut Provinsi 1.csv", delimiter=",")
rawmiskin1_df.head()

         Provinsi  2018  2019  2020
0            Aceh   832   810   815
1  Sumatera Utara  1292  1261  1283
2  Sumatera Barat   353   343   344
3            Riau   494   484   483
4           Jambi   281   273   278

In [4]:
rawmiskin2_df = pd.read_csv("data\\Jumlah Penduduk Miskin menurut Provinsi 2.csv", delimiter=",")
rawmiskin2_df.head()

         Provinsi    2021    2022    2023
0            Aceh   834.0   807.0   807.0
1  Sumatera Utara  1344.0  1268.0  1240.0
2  Sumatera Barat   371.0   335.0   340.0
3            Riau   501.0   485.0   486.0
4           Jambi   294.0   279.0   281.0

In [5]:
# Concatenate the two DataFrames vertically
miskinraw_df = pd.merge(rawmiskin1_df, rawmiskin2_df, on='Provinsi', how='inner')

# Display the merged DataFrame
print(miskinraw_df)

                Provinsi   2018   2019   2020     2021     2022     2023
0                   Aceh    832    810    815    834.0    807.0    807.0
1         Sumatera Utara   1292   1261   1283   1344.0   1268.0   1240.0
2         Sumatera Barat    353    343    344    371.0    335.0    340.0
3                   Riau    494    484    483    501.0    485.0    486.0
4                  Jambi    281    273    278    294.0    279.0    281.0
5       Sumatera Selatan   1076   1067   1082   1114.0   1045.0   1046.0
6               Bengkulu    304    298    303    306.0    297.0    288.0
7                Lampung   1092   1041   1049   1084.0   1002.0    971.0
8   Kep. Bangka Belitung     70     67     68     73.0     67.0     69.0
9         Kepulauan Riau    125    128    132    144.0    152.0    143.0
10           DKI Jakarta    372    362    481    502.0    502.0    478.0
11            Jawa Barat   3539   3376   3920   4195.0   4071.0   3889.0
12           Jawa Tengah   3867   3679   3981   4110.0   3831.0   3792.0
13         DI Yogyakarta    450    441    476    506.0    455.0    448.0
14            Jawa Timur   4292   4056   4419   4573.0   4181.0   4189.0
15                Banten    669    641    776    867.0    814.0    826.0
16                  Bali    168    157    165    202.0    206.0    194.0
17   Nusa Tenggara Barat    736    706    714    747.0    732.0    751.0
18   Nusa Tenggara Timur   1134   1129   1154   1169.0   1132.0   1141.0
19      Kalimantan Barat    370    370    367    368.0    350.0    353.0
20     Kalimantan Tengah    136    131    133    140.0    145.0    142.0
21    Kalimantan Selatan    195    190    188    208.0    196.0    189.0
22      Kalimantan Timur    222    221    230    242.0    236.0    231.0
23      Kalimantan Utara     50     49     52     53.0     49.0     48.0
24        Sulawesi Utara    189    189    192    196.0    185.0    189.0
25       Sulawesi Tengah    413    404    399    404.0    388.0    396.0
26      Sulawesi Selatan    780    760    777    785.0    777.0    789.0
27     Sulawesi Tenggara    302    300    302    319.0    310.0    322.0
28             Gorontalo    188    185    185    186.0    185.0    184.0
29        Sulawesi Barat    153    152    152    157.0    166.0    164.0
30                Maluku    318    320    318    322.0    291.0    302.0
31          Maluku Utara     82     87     86     87.0     80.0     84.0
32           Papua Barat    214    208    209    219.0    219.0    215.0
33                 Papua    915    901    911    920.0    922.0    915.0
34             Indonesia  25675  24786  26424  27543.0  26161.0  25899.0

### **ASSESSING DATA**

In [6]:
print(pendudukraw_df)

                Provinsi      2020      2021      2022
0                   Aceh    5274.9    5333.7    5407.9
1         Sumatera Utara   14799.4   14936.2   15115.2
2         Sumatera Barat    5534.5    5580.2    5640.6
3                   Riau    6394.1    6493.6    6614.4
4              Kep. Riau    2064.6    2118.2    2179.8
5                  Jambi    3548.2    3585.1    3631.1
6       Sumatera Selatan    8467.4    8550.9    8657.0
7   Kep. Bangka Belitung    1455.7    1473.2    1494.6
8               Bengkulu    2010.7    2032.9    2060.1
9                Lampung    9007.8    9081.8    9176.6
10           DKI Jakarta   10562.1   10609.7   10680.0
11            Jawa Barat   48274.2   48782.4   49405.8
12                Banten   11904.6   12061.5   12252.0
13           Jawa Tengah   36516.0   36742.5   37032.4
14         DI Yogyakarta    3668.7    3712.9    3761.9
15            Jawa Timur   40665.7   40878.8   41150.0
16      Kalimantan Barat    5414.4    5470.8    5541.4
17     Kalimantan Tengah    2670.0    2702.2    2741.1
18    Kalimantan Selatan    4073.6    4122.6    4182.1
19      Kalimantan Timur    3766.0    3808.2    3859.8
20      Kalimantan Utara     701.8     713.6     727.8
21        Sulawesi Utara    2621.9    2638.6    2659.5
22             Gorontalo    1171.7    1181.0    1192.7
23       Sulawesi Tengah    2985.7    3021.9    3066.1
24      Sulawesi Selatan    9073.5    9139.5    9225.8
25        Sulawesi Barat    1419.2    1436.8    1458.6
26     Sulawesi Tenggara    2624.9    2659.2    2701.7
27                  Bali    4317.4    4362.7    4415.1
28   Nusa Tenggara Barat    5320.1    5390.0    5473.7
29   Nusa Tenggara Timur    5325.6    5387.7    5466.3
30                Maluku    1848.9    1862.6    1881.7
31          Maluku Utara    1282.9    1299.2    1319.3
32           Papua Barat    1134.1    1156.8    1183.3
33                 Papua    4303.7    4355.5    4418.6
34             Indonesia  270203.9  272682.5  275773.8

(NOTE) We found that the value of the population is not the actual number (aka abbreviated)

In [7]:
print(miskinraw_df)

                Provinsi   2018   2019   2020     2021     2022     2023
0                   Aceh    832    810    815    834.0    807.0    807.0
1         Sumatera Utara   1292   1261   1283   1344.0   1268.0   1240.0
2         Sumatera Barat    353    343    344    371.0    335.0    340.0
3                   Riau    494    484    483    501.0    485.0    486.0
4                  Jambi    281    273    278    294.0    279.0    281.0
5       Sumatera Selatan   1076   1067   1082   1114.0   1045.0   1046.0
6               Bengkulu    304    298    303    306.0    297.0    288.0
7                Lampung   1092   1041   1049   1084.0   1002.0    971.0
8   Kep. Bangka Belitung     70     67     68     73.0     67.0     69.0
9         Kepulauan Riau    125    128    132    144.0    152.0    143.0
10           DKI Jakarta    372    362    481    502.0    502.0    478.0
11            Jawa Barat   3539   3376   3920   4195.0   4071.0   3889.0
12           Jawa Tengah   3867   3679   3981   4110.0   3831.0   3792.0
13         DI Yogyakarta    450    441    476    506.0    455.0    448.0
14            Jawa Timur   4292   4056   4419   4573.0   4181.0   4189.0
15                Banten    669    641    776    867.0    814.0    826.0
16                  Bali    168    157    165    202.0    206.0    194.0
17   Nusa Tenggara Barat    736    706    714    747.0    732.0    751.0
18   Nusa Tenggara Timur   1134   1129   1154   1169.0   1132.0   1141.0
19      Kalimantan Barat    370    370    367    368.0    350.0    353.0
20     Kalimantan Tengah    136    131    133    140.0    145.0    142.0
21    Kalimantan Selatan    195    190    188    208.0    196.0    189.0
22      Kalimantan Timur    222    221    230    242.0    236.0    231.0
23      Kalimantan Utara     50     49     52     53.0     49.0     48.0
24        Sulawesi Utara    189    189    192    196.0    185.0    189.0
25       Sulawesi Tengah    413    404    399    404.0    388.0    396.0
26      Sulawesi Selatan    780    760    777    785.0    777.0    789.0
27     Sulawesi Tenggara    302    300    302    319.0    310.0    322.0
28             Gorontalo    188    185    185    186.0    185.0    184.0
29        Sulawesi Barat    153    152    152    157.0    166.0    164.0
30                Maluku    318    320    318    322.0    291.0    302.0
31          Maluku Utara     82     87     86     87.0     80.0     84.0
32           Papua Barat    214    208    209    219.0    219.0    215.0
33                 Papua    915    901    911    920.0    922.0    915.0
34             Indonesia  25675  24786  26424  27543.0  26161.0  25899.0

(NOTE) We found that the value of the poor population is not the actual number (aka abbreviated)

(NOTE) We found that there are unconsistant data in province name

In [8]:
pendudukraw_df.info()
miskinraw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provinsi  35 non-null     object
 1   2020      35 non-null     float64
 2   2021      35 non-null     float64
 3   2022      35 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provinsi  35 non-null     object
 1   2018      35 non-null     int64
 2   2019      35 non-null     int64
 3   2020      35 non-null     int64
 4   2021      35 non-null     float64
 5   2022      35 non-null     float64
 6   2023      35 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 2.0+ KB

(NOTE) We found inconsistent miskinraw_df data types, especially in terms of population

In [9]:
pendudukraw_df.isnull().sum()

Provinsi    0
2020        0
2021        0
2022        0
dtype: int64

In [10]:
miskinraw_df.isnull().sum()

Provinsi    0
2018        0
2019        0
2020        0
2021        0
2022        0
2023        0
dtype: int64

In [11]:
pendudukraw_df.duplicated().sum()

0

In [12]:
miskinraw_df.duplicated().sum()

0

In [13]:
pendudukraw_df.describe()

                2020           2021           2022
count      35.000000      35.000000      35.000000
mean    15440.225714   15581.857143   15758.508571
std     45703.932110   46118.977696   46636.758016
min       701.800000     713.600000     727.800000
25%      2343.250000    2378.400000    2419.650000
50%      4303.700000    4355.500000    4415.100000
75%      8737.600000    8816.350000    8916.800000
max    270203.900000  272682.500000  275773.800000

In [14]:
miskinraw_df.describe()

,2018,2019,2020,2021,2022,2023
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,1467.085714,1416.342857,1509.942857,1573.857143,1494.885714,1480.028571
std,4338.237982,4183.958644,4470.160768,4659.920936,4422.427519,4376.137193
min,50.000000,49.000000,52.000000,53.000000,49.000000,48.000000
25%,192.000000,189.500000,190.000000,205.000000,201.000000,191.500000
50%,370.000000,362.000000,367.000000,371.000000,350.000000,353.000000
75%,873.500000,855.500000,863.000000,893.500000,868.000000,870.500000
max,25675.000000,24786.000000,26424.000000,27543.000000,26161.000000,25899.000000

### **CLEANING DATA**

We'll clean up
1. Conveert the value of poor population into real value
2. Convert the value of the poor into real value
3. Change the poor population data type to float

In [15]:
# Multiply columns
columns_to_multiply = ['2020', '2021', '2022']
multiply_result = pendudukraw_df.loc[:, columns_to_multiply] * 1000

# Columns to Keep
columns_to_keep = ['Provinsi']
keep_result = pendudukraw_df.loc[:, columns_to_keep]

# Concatenate the multiplied columns with the non-multiplied columns
pendudukupdate_df = pd.concat([keep_result, multiply_result], axis=1)

pendudukupdate_df.head()

         Provinsi        2020        2021        2022
0            Aceh   5274900.0   5333700.0   5407900.0
1  Sumatera Utara  14799400.0  14936200.0  15115200.0
2  Sumatera Barat   5534500.0   5580200.0   5640600.0
3            Riau   6394100.0   6493600.0   6614400.0
4       Kep. Riau   2064600.0   2118200.0   2179800.0

In [16]:
# Multiply columns and Convert Data Type
columns_to_multiply = ['2018', '2019', '2020', '2021', '2022', '2023']
multiply_result = miskinraw_df.loc[:, columns_to_multiply] * 1000
multiply_result = multiply_result.astype(float)

# Columns to Keep
columns_to_keep = ['Provinsi']
keep_result = miskinraw_df.loc[:, columns_to_keep]

# Concatenate the multiplied columns with the non-multiplied columns
miskinupdate_df = pd.concat([keep_result, multiply_result], axis=1)

miskinupdate_df.head()

,Provinsi,2018,2019,2020,2021,2022,2023
0,Aceh,832000.0,810000.0,815000.0,834000.0,807000.0,807000.0
1,Sumatera Utara,1292000.0,1261000.0,1283000.0,1344000.0,1268000.0,1240000.0
2,Sumatera Barat,353000.0,343000.0,344000.0,371000.0,335000.0,340000.0
3,Riau,494000.0,484000.0,483000.0,501000.0,485000.0,486000.0
4,Jambi,281000.0,273000.0,278000.0,294000.0,279000.0,281000.0

In [17]:
miskinupdate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Provinsi  35 non-null     object
 1   2018      35 non-null     float64
 2   2019      35 non-null     float64
 3   2020      35 non-null     float64
 4   2021      35 non-null     float64
 5   2022      35 non-null     float64
 6   2023      35 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.0+ KB

In [18]:
miskinupdate_df['Provinsi'] = miskinupdate_df['Provinsi'].str.replace('Kep.', 'Kepulauan')
print(miskinupdate_df)

                     Provinsi        2018        2019        2020        2021  \
0                        Aceh    832000.0    810000.0    815000.0    834000.0
1              Sumatera Utara   1292000.0   1261000.0   1283000.0   1344000.0
2              Sumatera Barat    353000.0    343000.0    344000.0    371000.0
3                        Riau    494000.0    484000.0    483000.0    501000.0
4                       Jambi    281000.0    273000.0    278000.0    294000.0
5            Sumatera Selatan   1076000.0   1067000.0   1082000.0   1114000.0
6                    Bengkulu    304000.0    298000.0    303000.0    306000.0
7                     Lampung   1092000.0   1041000.0   1049000.0   1084000.0
8   Kepulauan Bangka Belitung     70000.0     67000.0     68000.0     73000.0
9              Kepulauan Riau    125000.0    128000.0    132000.0    144000.0
10                DKI Jakarta    372000.0    362000.0    481000.0    502000.0
11                 Jawa Barat   3539000.0   3376000.0   3920000.0   4195000.0
12                Jawa Tengah   3867000.0   3679000.0   3981000.0   4110000.0
13              DI Yogyakarta    450000.0    441000.0    476000.0    506000.0
14                 Jawa Timur   4292000.0   4056000.0   4419000.0   4573000.0
15                     Banten    669000.0    641000.0    776000.0    867000.0
16                       Bali    168000.0    157000.0    165000.0    202000.0
17        Nusa Tenggara Barat    736000.0    706000.0    714000.0    747000.0
18        Nusa Tenggara Timur   1134000.0   1129000.0   1154000.0   1169000.0
19           Kalimantan Barat    370000.0    370000.0    367000.0    368000.0
20          Kalimantan Tengah    136000.0    131000.0    133000.0    140000.0
21         Kalimantan Selatan    195000.0    190000.0    188000.0    208000.0
22           Kalimantan Timur    222000.0    221000.0    230000.0    242000.0
23           Kalimantan Utara     50000.0     49000.0     52000.0     53000.0
24             Sulawesi Utara    189000.0    189000.0    192000.0    196000.0
25            Sulawesi Tengah    413000.0    404000.0    399000.0    404000.0
26           Sulawesi Selatan    780000.0    760000.0    777000.0    785000.0
27          Sulawesi Tenggara    302000.0    300000.0    302000.0    319000.0
28                  Gorontalo    188000.0    185000.0    185000.0    186000.0
29             Sulawesi Barat    153000.0    152000.0    152000.0    157000.0
30                     Maluku    318000.0    320000.0    318000.0    322000.0
31               Maluku Utara     82000.0     87000.0     86000.0     87000.0
32                Papua Barat    214000.0    208000.0    209000.0    219000.0
33                      Papua    915000.0    901000.0    911000.0    920000.0
34                  Indonesia  25675000.0  24786000.0  26424000.0  27543000.0

          2022        2023
0     807000.0    807000.0
1    1268000.0   1240000.0
2     335000.0    340000.0
3     485000.0    486000.0
4     279000.0    281000.0
5    1045000.0   1046000.0
6     297000.0    288000.0
7    1002000.0    971000.0
8      67000.0     69000.0
9     152000.0    143000.0
10    502000.0    478000.0
11   4071000.0   3889000.0
12   3831000.0   3792000.0
13    455000.0    448000.0
14   4181000.0   4189000.0
15    814000.0    826000.0
16    206000.0    194000.0
17    732000.0    751000.0
18   1132000.0   1141000.0
19    350000.0    353000.0
20    145000.0    142000.0
21    196000.0    189000.0
22    236000.0    231000.0
23     49000.0     48000.0
24    185000.0    189000.0
25    388000.0    396000.0
26    777000.0    789000.0
27    310000.0    322000.0
28    185000.0    184000.0
29    166000.0    164000.0
30    291000.0    302000.0
31     80000.0     84000.0
32    219000.0    215000.0
33    922000.0    915000.0
34  26161000.0  25899000.0

In [19]:
pendudukupdate_df['Provinsi'] = pendudukupdate_df['Provinsi'].str.replace('Kep.', 'Kepulauan')
print(pendudukupdate_df)

                     Provinsi         2020         2021         2022
0                        Aceh    5274900.0    5333700.0    5407900.0
1              Sumatera Utara   14799400.0   14936200.0   15115200.0
2              Sumatera Barat    5534500.0    5580200.0    5640600.0
3                        Riau    6394100.0    6493600.0    6614400.0
4              Kepulauan Riau    2064600.0    2118200.0    2179800.0
5                       Jambi    3548200.0    3585100.0    3631100.0
6            Sumatera Selatan    8467400.0    8550900.0    8657000.0
7   Kepulauan Bangka Belitung    1455700.0    1473200.0    1494600.0
8                    Bengkulu    2010700.0    2032900.0    2060100.0
9                     Lampung    9007800.0    9081800.0    9176600.0
10                DKI Jakarta   10562100.0   10609700.0   10680000.0
11                 Jawa Barat   48274200.0   48782400.0   49405800.0
12                     Banten   11904600.0   12061500.0   12252000.0
13                Jawa Tengah   36516000.0   36742500.0   37032400.0
14              DI Yogyakarta    3668700.0    3712900.0    3761900.0
15                 Jawa Timur   40665700.0   40878800.0   41150000.0
16           Kalimantan Barat    5414400.0    5470800.0    5541400.0
17          Kalimantan Tengah    2670000.0    2702200.0    2741100.0
18         Kalimantan Selatan    4073600.0    4122600.0    4182100.0
19           Kalimantan Timur    3766000.0    3808200.0    3859800.0
20           Kalimantan Utara     701800.0     713600.0     727800.0
21             Sulawesi Utara    2621900.0    2638600.0    2659500.0
22                  Gorontalo    1171700.0    1181000.0    1192700.0
23            Sulawesi Tengah    2985700.0    3021900.0    3066100.0
24           Sulawesi Selatan    9073500.0    9139500.0    9225800.0
25             Sulawesi Barat    1419200.0    1436800.0    1458600.0
26          Sulawesi Tenggara    2624900.0    2659200.0    2701700.0
27                       Bali    4317400.0    4362700.0    4415100.0
28        Nusa Tenggara Barat    5320100.0    5390000.0    5473700.0
29        Nusa Tenggara Timur    5325600.0    5387700.0    5466300.0
30                     Maluku    1848900.0    1862600.0    1881700.0
31               Maluku Utara    1282900.0    1299200.0    1319300.0
32                Papua Barat    1134100.0    1156800.0    1183300.0
33                      Papua    4303700.0    4355500.0    4418600.0
34                  Indonesia  270203900.0  272682500.0  275773800.0

---
---
## **EXPLORATORY DATA ANALYSIS**
---
---

### Percentage Poor People Each Province

In [20]:
# Merge on 'Provinsi' column
merged_df = pd.merge(pendudukupdate_df, miskinupdate_df, on='Provinsi')

# Create new column 'Poverty Rate'
merged_df['Poverty Rate'] = (merged_df['2022_y'] / merged_df['2022_x']) * 100

# New DataFrame with 'Provinsi' and 'Poverty Rate'
povertyrate_df = merged_df[['Provinsi', 'Poverty Rate']]

print(povertyrate_df.sort_values(by='Poverty Rate', ascending=False))

                     Provinsi  Poverty Rate
33                      Papua     20.866338
29        Nusa Tenggara Timur     20.708706
32                Papua Barat     18.507564
22                  Gorontalo     15.511025
30                     Maluku     15.464739
0                        Aceh     14.922613
8                    Bengkulu     14.416776
28        Nusa Tenggara Barat     13.373038
23            Sulawesi Tengah     12.654512
14              DI Yogyakarta     12.094952
6            Sumatera Selatan     12.071156
26          Sulawesi Tenggara     11.474257
25             Sulawesi Barat     11.380776
9                     Lampung     10.919077
13                Jawa Tengah     10.344995
15                 Jawa Timur     10.160389
34                  Indonesia      9.486398
24           Sulawesi Selatan      8.422034
1              Sumatera Utara      8.388907
11                 Jawa Barat      8.239923
5                       Jambi      7.683622
3                        Riau      7.332487
4              Kepulauan Riau      6.973117
21             Sulawesi Utara      6.956195
20           Kalimantan Utara      6.732619
12                     Banten      6.643813
16           Kalimantan Barat      6.316093
19           Kalimantan Timur      6.114306
31               Maluku Utara      6.063822
2              Sumatera Barat      5.939084
17          Kalimantan Tengah      5.289847
10                DKI Jakarta      4.700375
18         Kalimantan Selatan      4.686641
27                       Bali      4.665806
7   Kepulauan Bangka Belitung      4.482805

---
---
## **RESULT**
---
---

In [21]:
# Export Poverty Rate the DataFrame to CSV
povertyrate_df.to_csv("result/povertyrate.csv", index=False)
print("Succesfull Export The Dataframe")

Succesfull Export The Dataframe