# **AMAZON SALES ANALYSIS**

---
---
# **Import Libraries**
---
---

---
---
# **Data Set**
---
---

## **Data Gathering**

In [1]:
import pandas as pd

salesraw_df = pd.read_csv("Data/Amazon Sale Report.csv", sep=",")
salesraw_df.head()

C:\Users\Abdullah NJ\AppData\Local\Temp\ipykernel_19200\2890477044.py:3: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  salesraw_df = pd.read_csv("Data/Amazon Sale Report.csv", sep=",")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

## **Data Assessing**

In [2]:
salesraw_df.shape

(128975, 24)

In [3]:
salesraw_df.info(any)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

we find some columns that have wrong data type, such as Date, ship-postal-code

In [4]:
salesraw_df.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

In [5]:
salesraw_df.isnull().sum().sort_values(ascending=False)

fulfilled-by          89698
promotion-ids         49153
Unnamed: 22           49050
currency               7795
Amount                 7795
Courier Status         6872
ship-country             33
ship-postal-code         33
ship-state               33
ship-city                33
ship-service-level        0
Style                     0
Date                      0
B2B                       0
Status                    0
Fulfilment                0
Sales Channel             0
Qty                       0
Order ID                  0
ASIN                      0
Size                      0
Category                  0
SKU                       0
index                     0
dtype: int64

we found some columns that contain null, such as fulfilled-by, promotion-ids, Unnamed: 22, currency, Amount, Courier Status, ship-country, ship-postal-code, ship-state, ship-city. We should analyze every column and decide should we fill the null columns with some techniques or just drop it

In [6]:
print("Duplicated Rows:", salesraw_df.duplicated().sum())

Duplicated Rows: 0

In [7]:
salesraw_df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [8]:
for col in ['Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Category', 'Size', 'currency',
       'Courier Status', 'ship-state', 'ship-country', 'B2B', 'fulfilled-by', 'Unnamed: 22']:
    print(f"{col}\t: {salesraw_df[col].unique()}")

Status	: ['Cancelled' 'Shipped - Delivered to Buyer' 'Shipped'
 'Shipped - Returned to Seller' 'Shipped - Rejected by Buyer'
 'Shipped - Lost in Transit' 'Shipped - Out for Delivery'
 'Shipped - Returning to Seller' 'Shipped - Picked Up' 'Pending'
 'Pending - Waiting for Pick Up' 'Shipped - Damaged' 'Shipping']
Fulfilment	: ['Merchant' 'Amazon']
Sales Channel 	: ['Amazon.in' 'Non-Amazon']
ship-service-level	: ['Standard' 'Expedited']
Category	: ['Set' 'kurta' 'Western Dress' 'Top' 'Ethnic Dress' 'Bottom' 'Saree'
 'Blouse' 'Dupatta']
Size	: ['S' '3XL' 'XL' 'L' 'XXL' 'XS' '6XL' 'M' '4XL' '5XL' 'Free']
currency	: ['INR' nan]
Courier Status	: [nan 'Shipped' 'Cancelled' 'Unshipped']
ship-state	: ['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH'
 'CHANDIGARH' 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA'
 'ASSAM' 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'Gujarat' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'Goa' 'MEGHALAYA' 'GOA' 'TRIPURA' 'LADAKH' 'DADRA AND NAGAR'
 'SIKKIM' 'Delhi' nan 'ANDAMAN & NICOBAR ' 'Punjab' 'Rajshthan' 'Manipur'
 'rajasthan' 'Odisha' 'NL' 'Bihar' 'MIZORAM' 'punjab' 'New Delhi'
 'Rajasthan' 'Punjab/Mohali/Zirakpur' 'Puducherry' 'delhi' 'RJ'
 'Chandigarh' 'orissa' 'LAKSHADWEEP' 'goa' 'PB' 'APO' 'Arunachal Pradesh'
 'AR' 'Pondicherry' 'Sikkim' 'Arunachal pradesh' 'Nagaland' 'bihar'
 'Mizoram' 'rajsthan' 'Orissa' 'Rajsthan' 'Meghalaya']
ship-country	: ['IN' nan]
B2B	: [False  True]
fulfilled-by	: ['Easy Ship' nan]
Unnamed: 22	: [nan False]

1. The Unnamed: 22 column has no meaningful data, so we can drop it.
2. Since there are 33 rows where ship-country, ship-postal-code, ship-state, and ship-city are null, we cannot determine the address. Therefore, we will keep these values as null.
3. Some states and cities have the same meaning but are written in different styles. We will standardize them by converting them to lowercase.
4. Since this dataset is based on the Indian platform, missing values in the currency column will be filled with "INR".
5. The fulfilled-by column does not provide meaningful information, so we can drop it.
6. Missing values in the promotion-ids column will be replaced with "No Promotion".
7. Fill "Courier Status" with "Cancelled" when Status is "Cancelled"

## **Data Cleaning**

In [9]:
salesclean_df = salesraw_df.copy()

In [10]:
salesclean_df.rename(columns={'Qty': 'Quantity'}, inplace=True)

In [11]:
salesclean_df = salesclean_df.astype({
    'Date': 'datetime64[ns]',
    'ship-postal-code': 'object'
})

print(salesclean_df.dtypes)

index                          int64
Order ID                      object
Date                  datetime64[ns]
Status                        object
Fulfilment                    object
Sales Channel                 object
ship-service-level            object
Style                         object
SKU                           object
Category                      object
Size                          object
ASIN                          object
Courier Status                object
Quantity                       int64
currency                      object
Amount                       float64
ship-city                     object
ship-state                    object
ship-postal-code              object
ship-country                  object
promotion-ids                 object
B2B                             bool
fulfilled-by                  object
Unnamed: 22                   object
dtype: object

In [12]:
salesclean_df.drop(columns=['Unnamed: 22'], inplace=True)
salesclean_df.drop(columns=['fulfilled-by'], inplace=True)

In [13]:
salesclean_df['ship-state'] = salesclean_df['ship-state'].str.lower().str.strip()
salesclean_df['ship-city'] = salesclean_df['ship-city'].str.lower().str.strip()

In [14]:
salesclean_df['currency'] = salesclean_df['currency'].fillna('INR')

In [15]:
salesclean_df['promotion-ids'] = salesclean_df['promotion-ids'].fillna('No Promotion')

In [16]:
salesclean_df.loc[salesclean_df['Status'] == 'Shipped - Returned to Seller', 'Courier Status'] = 'Shipped'
salesclean_df.loc[salesclean_df['Status'] == 'Shipped - Delivered to Buyer', 'Courier Status'] = 'Shipped'

import numpy as np

mask = (salesclean_df['Status'] == 'Cancelled') & (salesclean_df['Courier Status'].isnull())

salesclean_df.loc[mask, 'Courier Status'] = np.random.choice(
    ['Cancelled', 'Unshipped'], 
    size=mask.sum(), 
    p=[0.51, 0.49]
)

In [17]:
salesclean_df.loc[salesclean_df['Quantity'] == 0, 'Quantity'] = 1

In [18]:
def fill_amount_based_on_unit_price(group):
    valid_rows = group.loc[(group['Amount'] > 0) & (group['Quantity'] > 0)]
    
    if not valid_rows.empty:
        unit_price = (valid_rows['Amount'] / valid_rows['Quantity']).median()
        group['Amount'] = group['Amount'].mask(group['Amount'] == 0, group['Quantity'] * unit_price)
        group['Amount'] = group['Amount'].fillna(group['Quantity'] * unit_price)
    
    return group

salesclean_df = (
    salesclean_df
    .groupby(['SKU'], group_keys=False)
    .apply(fill_amount_based_on_unit_price)
    .reset_index(drop=True)
)

C:\Users\Abdullah NJ\AppData\Local\Temp\ipykernel_19200\1406716831.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(fill_amount_based_on_unit_price)

In [19]:
salesclean_df['ship-city'] = (
    salesclean_df['ship-city']
    .astype(str)
    .str.replace(r'[^a-zA-Z\s]', '', regex=True)
    .str.replace(r'\b(?:district|dist)\b', '', regex=True)
    .str.strip()
)

In [22]:
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('ar', 'Arunachal Pradesh')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('dadra and nagar', 'Dadra and Nagar Haveli and Daman and Diu')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('new delhi', 'Delhi')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('nl', 'Nagaland')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('apo', 'Napo')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('pb', 'Punjab')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('punjab/mohali/zirakpur', 'Punjab')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('rajshthan', 'Rajasthan')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('rajsthan', 'Rajasthan')
salesclean_df['ship-state'] = salesclean_df['ship-state'].replace('rj', 'Rajasthan')

In [24]:
salesclean_df[['ship-state', 'ship-city']] = salesclean_df[['ship-state', 'ship-city']].apply(lambda x: x.str.title())

In [20]:
salesclean_df.isnull().sum().sort_values(ascending=False)

Amount                48
ship-country          33
ship-postal-code      33
ship-state            33
index                  0
Order ID               0
promotion-ids          0
ship-city              0
currency               0
Quantity               0
Courier Status         0
ASIN                   0
Size                   0
Category               0
SKU                    0
Style                  0
ship-service-level     0
Sales Channel          0
Fulfilment             0
Status                 0
Date                   0
B2B                    0
dtype: int64

Result

In [21]:
salesfinal_df = salesclean_df.copy()